@(devices: List[Device])

@import helper._

@implicitFieldConstructor = @{ FieldConstructor(twitterBootstrapInput.render) }

@main("Registered devices", "devices") {

        @if(devices.isEmpty) {
            <div class="alert">
                <strong>Warning!</strong> No devices registered at the moment
            </div>
        } else {
            <h4>Registered Devices: (@devices.size())</h4>
            <table class="table table-hover">
                <thead>
                <tr>
                    <th>#</th>
                    <th>Device id</th>
                    <th>Registration id</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                @for((device, index) <- devices.zipWithIndex) {
                <tr>
                    <td>@{index+1}</td>
                    <td>@device.getDeviceId()</td>
                    <td>@device.getRegisteredId()</td>
                    <td>
                        @form(routes.DeviceController.showSendForm(device.getDeviceId()) ) {
                        <input type="submit" value="Send Message" class="btn btn-primary">
                        }
                    </td>
                </tr>
                }
                </tbody>
            </table>
        }

    
}
