@(messageForm: Form[Notification], message: String)

@import helper._

@implicitFieldConstructor = @{ FieldConstructor(twitterBootstrapInput.render) }

@main("Send message", "send") {
        <h2 id="message">@message</h2>
        <h4>Send message to all registered devices</h4>

        @form(routes.DeviceController.send() ) {
            @helper.textarea(messageForm("content"), '_label -> "Message", '_showConstraints -> false, 'rows -> 5)
            <input type="submit" value="Send" class="btn btn-primary">
        }
}
